.manage-users-container {
    padding: 20px;
  }
  
  .add-user-form,
  .edit-user-form {
    margin-bottom: 20px;
  }
  
  .user-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #e79292;
    border-radius: 5px;
  }
  
  button {
    margin: 5px;
  }
  